@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "shows";
@import "movie";
// @import "loading-bar";

body {
  padding-top: 75px;
  font-family: 'Open Sans', sans-serif;
}